/* General Styles */
* {
  padding: 0;
  margin: 0;
}

:root {
  color-scheme: dark;
  --header: #000000 !important;
  --body: #000000 !important;
  --table: #000000 !important;
  --footer: #000000 !important;
  --faqs: #000000 !important;
  --border: #9E7FEB !important;
  --hover: #2c0f76 !important;
}

main {
  margin-top: 40px !important;
  background-color: var(--body);
  width: 100% !important;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--body) !important; 
  color: #FFFFFF !important;
  margin: 0; 
  padding: 0; 
  width: 100% !important;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  float: left;
  padding-top: 60px;
} 

tr:hover {
  background-color: #2c0f76 !important;
}

table {
  background-color: var(--table) !important;
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto !important;
  padding-top: 800px !important;
}

.medium-button {
  width: 95px !important;
}

tr {
  border-top: 2px solid var(--border) !important; 
  border-bottom: 2px solid var(--border) !important; 
}

td {
  vertical-align: middle !important; 
  padding: 10px 20px; 
}

p {
  font-size: medium;
  color: #F465EE !important;
}

th,
td {
  color: #F465EE !important;  
  border-color: #9E7FEB !important;
}

h3 {
  font-size: 20px !important;
  color: #F465EE !important;  
}

header {
  background-color: var(--header) !important;
  justify-content: space-between !important;
  align-items: center !important;
  width: 100% !important;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  border-bottom: 2px solid var(--border);
}

footer {
  width: 100%;
  background-color: var(--footer);
  text-align: center;
  box-sizing: border-box;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  border-top: 1px solid var(--border);
  padding: 10px;
}

footer p {
  font-size: 14px;
  margin: 0;
}

.subtitle {
  font-size: 16px;
  color: #F465EE;
  flex-grow: 1;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
}

.light-link {
  color: #9E7FEB !important;
}

.light-link:hover {
  color: #FFFFFF !important;
}

/* NOTE TO SELF: VERTICAL IMAGE SIZING */
td:first-child img {
  max-height: 200px;
  width: auto;
  height: auto;
  display: block;
}

thead th {
  padding-left: 20px !important;
}

.dropdown-menu {
  background-color: var(--body) !important;
  align-items: center !important;
  overflow-x: visible !important;
  background-color: #5d36be !important;
}

.dropdown-item {
  align-items: center !important;
  overflow-x: visible !important;
}

.transparent { 
  background-color: transparent !important;
  border-color: transparent !important;
  text-align: center;
}

/* Button Styles */

.logo {
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.normal-logo {
  display: block;
  max-width: 1080px;
}

.small-logo {
  display: none;
  max-width: 400px !important;
}

/* Tablet Styles */
@media only screen and (max-width: 1024px) {
  .normal-logo {
    display: none;
  }
  .small-logo {
    display: block;
  }
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
  .normal-logo {
    display: none;
  }
  .small-logo {
    display: block;
}
}