/* General Styles */
* {
  padding: 0;
  margin: 0;
}

:root {
  color-scheme: dark;
  --header:  #000000 !important;
  --body: #000000 !important;
  --table: #000000 !important;
  --footer: #000000 !important;
  --faqs: #000000 !important;
  --border: #9E7FEB !important;
  --hover: #2c0f76 !important;
}



main {
  margin-top: 70px;
  background-color: var(--body);
  width: 100% !important;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--body) !important; 
  color: #FFFFFF !important;
  margin: 0; 
  padding: 0; 
  width: 100% !important;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  float: left;
  padding-top: 60px
} 

tr:hover {
  background-color: #2c0f76 !important;
}

table {
  background-color: var(--table) !important;
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto !important;
  padding-top: 60px;
}

.medium-button {
  width: 95px !important;
}


tr {
  border-top: 2px solid var(--border) !important; 
  border-bottom: 2px solid var(--border) !important; 
}
    
p {
  font-size: medium;
  color: #F465EE !important;
}

th,
td {
  color: #F465EE !important;  
  border-color: #9E7FEB !important;
}

h3 {
  font-size: 20px !important;
  color: #F465EE !important;  
}

header {
  background-color: var(--header) !important;
  padding: 20px 0 !important;
  justify-content: space-between !important;
  align-items: center !important;
  width: 100% !important;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  border-bottom: 2px solid var(--border);
}

.subtitle {
  font-size: 16px;
  color: #F465EE;
  flex-grow: 1;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
}

/* Table Styles */

td {
  font-size: 14px !important;
  padding-left: 20px !important;
}

/* NOTE TO SELF: VERTICAL IMAGE SIZING */
td:first-child img {
  max-height: 200px;
  width: auto;
  height: auto;
  display: block;
}

thead th {
  padding-left: 20px !important;
}

.dropdown-menu{
  background-color: var(--body) !important;
  align-items: center !important;
  overflow-x: visible !important;
  background-color:  #5d36be !important;
}

.dropdown-item{
  align-items: center !important;
  overflow-x: visible !important;
}

.transparent { 
  background-color: transparent !important;
  border-color: transparent !important;
  text-align: center;
}

/* Button Styles */

.logo {
  font-size: 20px; 
  cursor: pointer; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* Center the logo horizontally */
}

.container {
  display: flex;
  justify-content: center; /* Center the container content horizontally */
  align-items: center;
  overflow: auto;
}

.logo:hover a {
  color: var(--hover);
}

.big-button {
  max-height: 50px;
}

button {
  background-color: transparent;
  border: transparent;
}

.buttons {
  display: flex;
  justify-content: space-around !important;
  width: 100% !important;
  margin-bottom: 15px;
}
 
.buttons button {
  margin: 0 5px; 
  align-self: center;
} 

.btn-secondary {
  background-color: #000000 !important;
  border-color: #F465EE !important;
  border: none !important;
}

.btn-secondary:hover {
  background-color: #5d36be !important;
  border-color: #F465EE !important;
}

.dropdown-item:hover {
  background-color: #F465EE !important;
}

.delete {
  position: relative;
  height: 30px;
}

/* Navigation Styles */

nav ul {
  font-size: 16px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  float: right !important;
}

nav ul li {
  margin-left: 20px;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

li{
  cursor: pointer;
}

li:hover {
  color: var(--hover) !important; 
  }

.static{
  cursor: default;
}

#faqs:hover {
    color: var(--hover) !important;
  }

/* Footer Styles */

footer {
  width: 100% !important;
  background-color: var(--footer);
  text-align: center !important;
  box-sizing: border-box !important;
  z-index: 999;
  display: flex;
  left: 0;
  bottom: 0;
  position: relative;
  border-top: 1px solid var(--border)
}

footer p {
  font-size: 14px;
  padding: 10px;
  margin: auto;
}

.center-span.buttons {
  justify-content: center !important;
  align-items: center !important;
  z-index: 999; 
  height: 60px;
} 

.center-span.buttons button {
  margin: 5px; 
}

/* Miscellaneous */

.static {
  cursor: default;
}

.light-link {
  color:#9E7FEB !important;
}

.light-link:hover{
    color: #FFFFFF !important;
}

.question {
  background-color: #000000;
  display: block;
  padding: 10px;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 280px;
  margin-right: 280px;
  border: solid 5px;
  border-color: var(--border) !important;
  border-radius: 5px;
}

#about-section {
  margin-bottom: 30px;
}

.about, .answer {
  font-size: 18px !important;
}


li {
  list-style-type: none;
}

#faq-section{
  margin-top: 20px !important;
  margin-bottom: 60px !important;
}

a:hover,
.delete:hover,
#about:hover,
#about:hover a,
#faqs:hover,
#faqs:hover a {
  color: var(--hover) !important;
  text-decoration: none !important;
}


.dropdown-menu {
  max-width: 55px !important;
  border: 10px #FFFFFF !important;
}

/* Mobile Styles */

@media only screen and (max-width: 600px) {

  td {
    font-size: 11px !important
  }

  header{
    max-height: 120px !important; 
  }
  
  table {
  width: 100%;
  max-width: 100%;
  overflow-x: auto !important;
  }

  main{
  margin-top: 60px;
  }

  thead {
    font-size: 12px;
  }

  .buttons {
    justify-content: center;
    align-items: center;
    align-self: center;
  } 

  .subtitle {
    display: none;
  }

  .buttons .btn {
    font-size: 10px;
    height: 40px;
  }
  
  .container {
    justify-content: space-between;
    align-items: center;
  }

  .dropdown-toggle{
    font-size: 10px !important;
    overflow-x: visible !important;
  }

  .dropdown-menu{
    font-size: 10px !important;
    overflow-x: visible !important;
  }
  
  .dropdown-item{
    font-size: 10px !important;
    overflow-x: visible !important;
  }

  footer {
    max-height: 60px; 
  }
 
  footer p {
    font-size: 11px;
  }

  .question{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 10px;
  }

  .about, .answer {
    font-size: 18px !important;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  
  td {
    font-size: 14px !important
  }
  
  .subtitle {
    display: none;
  }

  main {
    margin-bottom: 0px !important;
  }

  .question{
    margin-left: 20px;
    margin-right: 20px;
  }

  .dropdown-item{
    font-size: 12 !important;
  }
}